.aws-btn {
  --slider-height-percentage: 61%;
  --slider-transition-duration: 706ms;
  --organic-arrow-thickness: 4px;
  --organic-arrow-border-radius: 5px;
  --organic-arrow-height: 20px;
  --organic-arrow-color: #538bd5;
  --control-button-width: 10%;
  --control-button-height: 25%;
  --control-button-background: transparent;
  --control-bullet-color: #62a4fa;
  --control-bullet-active-color: #538bd5;
  --loader-bar-color: #851515;
  --loader-bar-height: 6px;
}
